{% extends "layout.html" %}
{% block body %}
      <!--Home-->
<section id="tal" class="bg-dark text-light  text-center text-sm-start">
    <div class="row">
        <div class=" bg-success  mt-5 p-5">
        <h1 class="text-white text-center">Performances Measures</h1>
        
        </div>
    </div>
    
</section>

<div class="">
    <div class="bg-black">
        <h2 class=" p-5 text-warning text-center">Patient’s Emergency Department Visit Rate for Severe Asthma Attacks On The Test Set Using Different Learning Algorithms </h2>

    <table class="table table-striped table table-bordered table-dark">
        <thead>
            <tr style="text-align: right;">
              <th></th>
              <th>Actual Value of Age_Adjusted_Rate</th>
              <th>Random Forest Predicted Age_Adjusted_Rate</th>
              <th>Linear Reg Predicted Age_Adjusted_Rate</th>
              <th>Lasso Reg Predicted Age_Adjusted_Rate</th>
              <th>Ridge Reg Predicted Age_Adjusted_Rate</th>
              <th>Decesion Tree Predicted Age_Adjusted_Rate</th>
              <th>SVM Predicted Age_Adjusted_Rate</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>0</th>
              <td>46.005882</td>
              <td>51.784548</td>
              <td>46.642998</td>
              <td>56.997428</td>
              <td>29.555552</td>
              <td>54.906061</td>
              <td>32.494000</td>
            </tr>
            <tr>
              <th>1</th>
              <td>142.950000</td>
              <td>100.705527</td>
              <td>84.324619</td>
              <td>75.909883</td>
              <td>81.729036</td>
              <td>141.000000</td>
              <td>64.647370</td>
            </tr>
            <tr>
              <th>2</th>
              <td>52.825000</td>
              <td>48.316266</td>
              <td>45.219743</td>
              <td>56.997428</td>
              <td>29.196745</td>
              <td>63.265116</td>
              <td>38.987784</td>
            </tr>
            <tr>
              <th>3</th>
              <td>42.671053</td>
              <td>91.513185</td>
              <td>87.489405</td>
              <td>75.909883</td>
              <td>82.328058</td>
              <td>101.470000</td>
              <td>56.004045</td>
            </tr>
            <tr>
              <th>4</th>
              <td>95.936111</td>
              <td>79.086259</td>
              <td>87.962298</td>
              <td>75.909883</td>
              <td>82.315633</td>
              <td>64.840000</td>
              <td>59.198269</td>
            </tr>
            <tr>
              <th>5</th>
              <td>143.500000</td>
              <td>81.447541</td>
              <td>84.522772</td>
              <td>75.909883</td>
              <td>81.516654</td>
              <td>84.537778</td>
              <td>65.707796</td>
            </tr>
            <tr>
              <th>6</th>
              <td>62.400000</td>
              <td>69.784682</td>
              <td>86.542415</td>
              <td>75.909883</td>
              <td>81.709667</td>
              <td>61.340000</td>
              <td>61.915686</td>
            </tr>
            <tr>
              <th>7</th>
              <td>90.216279</td>
              <td>92.326348</td>
              <td>85.973013</td>
              <td>75.909883</td>
              <td>81.753325</td>
              <td>86.887234</td>
              <td>67.779266</td>
            </tr>
            <tr>
              <th>8</th>
              <td>38.738760</td>
              <td>38.345016</td>
              <td>46.845702</td>
              <td>56.997428</td>
              <td>29.401915</td>
              <td>54.906061</td>
              <td>34.823401</td>
            </tr>
            <tr>
              <th>9</th>
              <td>55.506522</td>
              <td>56.253395</td>
              <td>48.429835</td>
              <td>56.997428</td>
              <td>29.759932</td>
              <td>53.652273</td>
              <td>28.612766</td>
            </tr>
            <tr>
              <th>10</th>
              <td>57.374545</td>
              <td>47.676973</td>
              <td>47.363993</td>
              <td>56.997428</td>
              <td>29.271737</td>
              <td>49.814286</td>
              <td>42.705570</td>
            </tr>
            <tr>
              <th>11</th>
              <td>88.020690</td>
              <td>89.622948</td>
              <td>85.747874</td>
              <td>75.909883</td>
              <td>82.087843</td>
              <td>81.113596</td>
              <td>58.153586</td>
            </tr>
            <tr>
              <th>12</th>
              <td>42.800000</td>
              <td>55.931119</td>
              <td>48.846738</td>
              <td>56.997428</td>
              <td>29.595347</td>
              <td>44.352174</td>
              <td>31.994612</td>
            </tr>
            <tr>
              <th>13</th>
              <td>82.608108</td>
              <td>71.092113</td>
              <td>85.381307</td>
              <td>75.909883</td>
              <td>81.645383</td>
              <td>67.800000</td>
              <td>60.644901</td>
            </tr>
            <tr>
              <th>14</th>
              <td>62.610145</td>
              <td>81.166086</td>
              <td>87.449999</td>
              <td>75.909883</td>
              <td>82.040100</td>
              <td>82.317904</td>
              <td>60.949325</td>
            </tr>
            <tr>
              <th>15</th>
              <td>55.602778</td>
              <td>55.323731</td>
              <td>48.162157</td>
              <td>56.997428</td>
              <td>29.848512</td>
              <td>56.325000</td>
              <td>32.886736</td>
            </tr>
            <tr>
              <th>16</th>
              <td>30.440426</td>
              <td>39.659493</td>
              <td>46.060534</td>
              <td>56.997428</td>
              <td>29.849932</td>
              <td>38.578682</td>
              <td>29.091792</td>
            </tr>
            <tr>
              <th>17</th>
              <td>148.270588</td>
              <td>97.731813</td>
              <td>87.874886</td>
              <td>75.909883</td>
              <td>82.305455</td>
              <td>65.767925</td>
              <td>62.477696</td>
            </tr>
            <tr>
              <th>18</th>
              <td>24.567949</td>
              <td>41.085636</td>
              <td>45.090211</td>
              <td>56.997428</td>
              <td>29.544864</td>
              <td>38.578682</td>
              <td>33.170287</td>
            </tr>
            <tr>
              <th>19</th>
              <td>68.427273</td>
              <td>47.753461</td>
              <td>45.834119</td>
              <td>56.997428</td>
              <td>29.453897</td>
              <td>25.137500</td>
              <td>32.576302</td>
            </tr>
            <tr>
              <th>20</th>
              <td>30.086667</td>
              <td>37.936956</td>
              <td>42.579302</td>
              <td>56.997428</td>
              <td>28.433037</td>
              <td>33.133333</td>
              <td>43.461676</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
<div class="">
    <div class="bg-black">
        <h2 class=" p-5 text-warning text-center">Patient's Risk of Developing Lung Cancer On The Test Set Using Different Learning Algorithms </h2>
    </div>
    <table class="table table-striped table table-bordered table-dark">
        
    </table>
</div>
<footer>
    <p>Copyright &copy; SARK</p>
</footer>
<!-- JavaScript file -->
<script type="text/javascript" src="static/js/index.js"></script>     
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

