{% extends "layout.html" %}
{% block body %}
<!--Home-->
<section id="tal" class="bg-dark text-light p-1 mt-5 text-center text-sm-start">
    <div class="row bg-white p-3 ">
        
        <div class="col-md-7 p-3">
            <div class=" text-warning bg-secondary text-center">
            <h1 >Welcome to the Respiratory HealthCare Tool Website</h1>
             </div>
              <p class="text-black">
                This tool is designed to assess a patient’s respiratory health based on their local air quality. To begin, enter the patient's zip code. The Air Quality Index category (i.e., Good, Moderate, Unhealthy) for the patient’s region will populate the display. </p>
                <div class="text-primary">
                    <p>
                The “Model Prediction for Cancer” model is used to predict a patient's risk of developing lung cancer (Low, Medium, High). Enter the severity of the patient's coughing and fatigue, and rate their diet on a scale of 1 to 8. Use the drop-down menus to select the patient’s smoking, level of obesity, and alcohol use. The air pollution value will automatically populate, based on the zip code that was entered. Click submit to determine the patient’s risk level for developing lung cancer.
                </p>
                </div>
                <div class="text-success ">
                    <p>
                    The “Model Prediction for Asthma” model is used to predict the patient’s emergency department visit rate for severe asthma attacks. Re-enter the patient’s zip code, select their age group, then click submit to view their estimated emergency department visit rate. The rate is the number of emergency department visits for asthma per 10,000 individuals, adjusted for the age group.
                   </p>
                   </div>

        </div>
        <div class="col-md-5 p-4 bg-white">
            <image src="{{url_for('static',filename = 'Images/health.png')}}" ></image>
        </div>
    </div>
    <div class="card-image">
        <a href=""target="_blank" class="">
          <img class="img-fluid rounded-circle  "src="" alt="" />
        </a>
      </div>

    <div class=' row bg-primary'>
        <div class="col-md-6">
            <h2 class="  text-warning text-center   p-3">Please Enter the Patient's Zip Code</h2>
            <div class=" lead text-center text-white">
                <label  for="Lat">ZIP CODE</label>
                <input type="text" onchange="myHandler();" onkeypress="this.onchange" oninput="this.onchange" id="ZipCode"/>
            </div>
            <div class="mb-3  lead text-white">
                <br>
                <h2>AirQualityIndex</h2>
                <h1 id="MeanAQI"></h1>
            </div>
        </div>
        <div class="col-md-6">
            <image src="{{url_for('static',filename = 'Images/air1.png')}}" ></image>
        </div>
    </div>
    <div class="sidebar">
        <div class="d-lg-flex">
            <div class="container fluid">
                
                <div>
                    <div class="container p-1 ">
                        <h2 class='text-center p-3'>Patient's Risk of Developing Lung Cancer</h2>
                        <div class= "bg-black" >
                            <div class="text-warning p-3">
                                <p>
                            This will predict a patient's risk of developing lung cancer (Low, Medium, High). Enter the severity of the patient's coughing and fatigue, and rate their diet on a scale of 1 to 8. Use the drop-down menus to select the patient’s smoking, level of obesity, and alcohol use. The air pollution value will automatically populate, based on the zip code that was entered. 
                            </p>
                            </div>
                            <div class='p-3'>
                            <form action = "/cancer" method = "post">
                                <div class="mb-3  lead text-white">
                                    <label  for="Monthly Owner Cost">Coughing of blood(1-8)</label>
                                    <input  type="number" step="any" name="Coughing" id="Coughing" />                
                                </div>
                                <div class="mb-3  lead text-white">
                                    <label  for="Per Capita Income">Obesity</label>
                                    <select id="Obesity" name="Obesity">
                                        <option value=1>BMI less than 25</option>
                                        <option value=2>BMI 25</option>
                                        <option value=3>BMI 26</option>
                                        <option value=4>BMI 27</option>
                                        <option value=5>BMI 28</option>
                                        <option value=6>BMI 29</option>
                                        <option value=7>BMI 30</option>
                                        <option value=8>>BMI greater than 30</option>
                                    </select>  
                                </div>
                                <div class="mb-3  lead text-white">
                                    <label  for="Lng">Smoking</label>
                                    <select id="Smoker" name="Smoker">
                                        <option value=1>Never smokes</option>
                                        <option value=2>Rarely smokes</option>
                                        <option value=3>Occasionally smokes</option>
                                        <option value=4>1 cig/day</option>
                                        <option value=5>2 cig/day</option>
                                        <option value=6>5 cig/day</option>
                                        <option value=7>10 cig/day</option>
                                        <option value=8>>10 cig/day</option>
                                    </select>  
                                </div>
                                <div class="mb-3  lead text-white">
                                    <label  for="Household Income">Fatigue (1-8)</label>
                                    <input  type="number" step="any" name="Fatigue" id="Fatigue" />  
                                </div>
                                <div class="mb-3  lead text-white">
                                    <label  for="College Rate">Alchol_use</label>
                                    <select id="Alchol_use" name="Alchol_use">
                                        <option value=1>Never drinks</option>
                                        <option value=2>Rarely drinks</option>
                                        <option value=3>Occasionally drinks</option>
                                        <option value=4>1 drink/day</option>
                                        <option value=5>2 drinks/day</option>
                                        <option value=6>5 drinks/day</option>
                                        <option value=7>10 drinks/day</option>
                                        <option value=8>>10 drinks/day</option>
                                    </select>  
                                </div>
                                <div class="mb-3  lead text-white">
                                    <label  for="Lat">Balanced_diet(1-8)</label>
                                    <input  type="number" step="any" name="Balanced_diet" id="Balanced_diet" /> 
                                </div>

                                <div class="mb-3  lead text-white">
                                    <label  for="Air_Pollution">Air Pollution</label>
                                    <select id="Air_Pollution" name="air">
                                        <option id="air" name='air' value="hidden"></option>
                                    </select>  
                                </div>

                            </div>
                            <p class="text-warning">Click submit to determine the patient’s risk level for developing lung cancer.</p>
                                <!-- Form submit button -->
                                <div class="d-grid">
                                    <button class="btn btn-danger btn-lg" type="submit" value="submit">Submit</button>
                                </div>
                            </form>
                            <div class=" row justify-content-md-center">
                          </div>

                             <h3 class='pt-4 text-warning'> {{ prediction_cancer }}</h3>
                        </div>
                    </div>

                    <div class="container">
                        <div class="jumbotron text-center bg-dark text-light  p-3">
                            <h4><span class="text-danger"></span></h4>
                        </div >
                    </div >
                    
                    <div class="container">
                        
                    </div>
                    
                        
                </div>
            </div>
            <div class="container p-5 ">
                <h2 class='text-center'>Patient’s Emergency Department Visit Rate for Severe Asthma Attacks</h2>
                <div class= "bg-black p-3" >
                    <div class="text-info">
                        <p>
                        This model is used to predict the patient’s emergency department visit rate for severe asthma attacks. Re-enter the patient’s zip code, select their age group. 
                       </p>
                       </div>
                    <div class='p-5'>
                    <form action = "/asthma" method = "post">
                        <div class="mb-3  lead text-warning">
                            <label for="age">Age_Group:</label>
                                    <select id="Age_Group" name="Age_Group">
                                        <option value=1>Above 18</option>
                                        <option value=0>Below 18</option>
                                    </select>
                                <input type="hidden" name='MeanAQI' id="MeanAQIValue" value="hidden"/>
                                <input type="hidden" name="MaxAQI" id="MaxAQI" value="hidden"/>
                                <input type="hidden" name="MinAQI" id="MinAQI" value="hidden"/>              
                        </div>
                        
                    </div>
                        <!-- Form submit button -->
                        <div class="d-grid">
                            <p class="text-warning">Click submit to determine the estimated emergency department visit rate.</p>  
                            <button class="btn btn-danger btn-lg" type="submit" value="submit">Submit</button>
                        </div>
                    </form>
                    <div class=" row justify-content-md-center">

              
                  </div>

                    <h3 class='pt-4 text-danger'> {{ prediction }}</h3>
                </div>

      
            </div>
            
        </div> 
    </div>
</section>
<div class='bg-success p-3'>
    <h2 class="text-center text-warning">Conclusion</h2>
    <h5>
        The above results are generated using <mark>Artificial Intillegance(AI)</mark>. Several Classification Models like, Decision Tree, Random Forest, and Boosting are used and tuned to predict patients risk of developing cancer accuretely. Similarly several Reggresion Model like Linear Regression, Support Vector Machine, Decisiion Tree, Random Forest, and Boosting are used and tuned to predict patient's emergency department visit rate for severe asthma attack.
    </h5>
    
</div>
<div class='bg-warning p-3'>
    <h2 class="text-center text-white">Please <a href="contact.html">Contact US</a> if you have any questions.</h2>
 
</div>
<footer>
    <p>Copyright &copy; SARK</p>
</footer>
<!-- JavaScript file -->
    <!-- D3 script -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- JavaScript -->
    <script type="text/javascript" src="static/js/MinandMax.js"></script>

    <!-- JavaScript -->
    <script type='text/javascript' src='static/js/random_date.js'></script>
    
    <!-- JavaScript -->
    <script type='text/javascript' src='static/js/api_call.js'></script>

    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}